@charset "utf-8";

/* For WEB115
Filename: mainstyle.css */

/* HTML Style */
html {
	background-color: rgb(220, 208, 255);
	font-family: "Times New Roman", Geneva, sans-serif;
	color: rgb(8, 50, 32);
	text-align: center;
}

/* Link Styles */
a.validate {
	text-decoration: none;
}